{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pimra</title>
    <link rel="stylesheet" type="css" href="{% static 'css/materialize.min.css' %}"/>
    <script src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body>

<div class="container halign">

<div class="divider"></div>
<div class="section">
<h6>NFC MFClassic</h6>
  <div class="input-field">
    <form class="row" style="width:100%;" method="POST" action="nfc/view_dump_nfc">
      {% csrf_token %}
      <div> {{ dumpform }} </div>
      <input class="btn" style="width:100%;" type="submit" value="Dump" />
    </form>
  </div>
</div>

<div class="divider"></div>
<div class="section">
<h6>MFOC</h6>
  <div class="input-field">
    <form class="row" style="width:100%;" method="POST" action="nfc/view_dump_mfoc">
      {% csrf_token %}
      <div> {{ dumpform }} </div>
      <input class="btn" style="width:100%;" type="submit" value="Dump" />
    </form>
  </div>
</div>

<div class="divider"></div>
<div class="section">
<h6>NFC Poll</h6>
  <div class="input-field">
    <form class="row" style="width:100%;" method="POST" action="nfc/view_dump_poll">
      {% csrf_token %}
      <div> {{ dumpform }} </div>
      <input class="btn" style="width:100%;" type="submit" value="Dump" />
    </form>
  </div>
</div>

<div class="divider"></div>
<div class="section">
<h6>List of Dumps</h6>
  {% for file in writeform %}
  <form method="POST" action="nfc/view_dump_mfoc">
    {% csrf_token %}
    {{ file }}
    <input type="submit" value="Dump" />
  </form>
  {% endfor %}
</div>
</div>

</body>
</html>
