{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pimra</title>
    <link rel="stylesheet" type="css" href="{% static 'css/materialize.min.css' %}"/>
    <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
<script>
  $( document ).ready(function(){
  $(".button-collapse").sideNav();
  }) 
</script>
</head>
<body>

{% block nav-container %}
<nav>
    <div class="nav-wrapper" style="background-color:#26a69a;">
      <a href="#!" class="brand-logo">PiMRA</a>
<!--      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">NFC</a></li>
        <li><a href="wifi.html">WiFi</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">NFC</a></li>
        <li><a href="wifi.html">WiFi</a></li>
      </ul>
    </div> -->
  </nav>
{% endblock nav-container %}

<div class="container halign">
<h5>Read</h5>
<div class="divider"></div>
<div class="section">
<h6>NFC MFClassic</h6>
  <div class="input-field">
    <form class="row" style="width:100%;" method="POST" action="nfc/view_dump_nfc">
      {% csrf_token %}
      <div class="col s8"> {{ dumpform }} </div>
      <input class="btn col s4" type="submit" value="Dump" />
    </form>
  </div>
</div>

<div class="divider"></div>
<div class="section">
<h6>MFOC</h6>
  <div class="input-field">
    <form class="row" style="width:100%;" method="POST" action="nfc/view_dump_mfoc">
      {% csrf_token %}
      <div class="col s8"> {{ dumpform }} </div>
      <input class="btn col s4" type="submit" value="Dump" />
    </form>
  </div>
</div>

<div class="divider"></div>
<div class="section">
<h6>NFC Poll</h6>
  <div class="input-field">
    <form class="row" style="width:100%;" method="POST" action="nfc/view_dump_poll">
      {% csrf_token %}
      <div class="col s8"> {{ dumpform }} </div>
      <input class="btn col s4" type="submit" value="Dump" />
    </form>
  </div>
</div>

<h5>Write</h5>
<div class="divider"></div>
<div class="section">
  {% for file in writeform %}
  <form class="row" style="width:100%;" method="POST" action="nfc/view_nfc_write">
    {% csrf_token %}
    <div class="col s8"> 
      {{ file }}
    </div>
    <input class="btn col s4" type="submit" value="Write" />
  </form>
  {% endfor %}
</div>
</div>

</body>
</html>
