<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pimra</title>
</head>
<body>

<hr>

<h2>NFC Dump</h2>

<form method="POST" action="nfc/view_dump_nfc">
    {% csrf_token %}
    {{ dumpform }}
    <input type="submit" value="Dump" />
    </div>
</form>

<hr>


<h2>NFC mfoc</h2>

<form method="POST" action="nfc/view_dump_mfoc">
    {% csrf_token %}
    {{ dumpform }}
    <input type="submit" value="Dump" />
    </div>
</form>

<hr>


<h2>NFC poll</h2>

<form method="POST" action="nfc/view_nfc_poll">
    {% csrf_token %}
    {{ dumpform }}
    <input type="submit" value="Dump" />
    </div>
</form>

<hr>

{% for file in writeform %}
    <form method="POST" action="nfc/view_nfc_write">
        {% csrf_token %}
        {{ file }}
        <input type="submit" value="Write to card" />
        </div>
    </form>
{% endfor %}


</body>
</html>