<div>

  <hr>
  <div class="row" align="center">
    <h1>Dump</h1>
  </div>

  <form>
    <div class="form-group">
      <label>Dump filename:</label>
      <!--<input class="form-control" ng-model="carCostPerMil" type="number" ng-change="updateCalculations()">-->
      <input type="text" class="form-control" id="inputAmount" name="inputAmount" placeholder="filename" ng-model="dump_filename"/>

      </input>
    </div>
  </form>

  <div class="row" align="center">
    <button class="btn" ng-click="dump()">
      Dump card
    </button>
  </div>

</div>
